<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amcdesk.servicecrm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.amcdesk.servicecrm.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.amcdesk.servicecrm.check_notification"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"/>
        <service
            android:name="com.amcdesk.servicecrm.locationService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"/>
        <!--        <service-->
        <!--            android:name=".onlineService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false"-->
        <!--            android:stopWithTask="false"/>-->
        <activity
            android:name="com.amcdesk.servicecrm.newCall"
            android:label="@string/title_activity_new_call"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.amcdesk.servicecrm.pendingCall"
            android:label="@string/title_activity_pending_call"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.amcdesk.servicecrm.openCall"
            android:label="@string/title_activity_open_call"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.amcdesk.servicecrm.closedCall"
            android:label="@string/title_activity_closed_call"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.amcdesk.servicecrm.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amcdesk.servicecrm.userHome"
            android:screenOrientation="portrait"
            android:stopWithTask="false"/>
        <activity
            android:name="com.amcdesk.servicecrm.tabCallDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amcdesk.servicecrm.newCallDetails"
            android:label="@string/title_activity_new_call_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.amcdesk.servicecrm.userProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amcdesk.servicecrm.Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amcdesk.servicecrm.notificationDetails"
            android:label="@string/title_activity_notification_details"
            android:theme="@style/AppTheme" />
        <receiver
            android:name="com.amcdesk.servicecrm.CheckConnectivity"
            android:enabled="true" />
        <receiver
            android:name="com.amcdesk.servicecrm.Restarter"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"/>
        <receiver
            android:name="com.amcdesk.servicecrm.ServiceRestarter"
            android:enabled="true"
            android:exported="true"
            android:label="LocaionService"/>

    </application>

</manifest>